<header class="header">
  <div class="container">
    <p class="name">
      <a href="/">Fabio Ruolo</a>
    </p>

    <nav class="nav">
      <a href="/">
        Home
      </a>
      <a href="/blog">
        Blog
      </a>
      <a href="/contact">
        Contact
      </a>
    </nav>
  </div>
</header>
