<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    {{> head}}
  </head>
  <body>
    {{!--
      include the site header partial
    --}}
    {{> header}}

    <main class="main blog">
      <div class="container">
        <h1 class="heading">Blog</h1>
        {{!--
          if this page loads after the user deletes a blog post, include a message saying
          that the deletion was successful
        --}}
        {{#if delete}}
          <p class="success">Post successfully deleted.</p>
        {{/if}}

        <section class="list">
          {{!-- 
            for each blog post render an article element including
              1. a link to the blog
              2. an excerpt from the blog
          --}}
          {{#each posts}}
            <article class="item">
              <h2 class="item-title">
                {{!--
                  create a unique link to each blog post
                --}}
                <a href="/blog/{{id}}">{{title}}</a>
              </h2>
              <p class="item-excerpt">
                {{excerpt}}
              </p>
            </article>
          {{/each}}
        </section>
      </div>
    </main>
    {{!--
      include the site footer partial
    --}}
    {{> footer}}
  </body>
</html>